.nav-primary ol {
    margin: 0;
    padding: 0;
}

.nav-primary li {
    list-style: none;
    position: relative;
    display: inline-block;
}

.nav-primary li a {
    text-decoration: none;
    color: #5e5e60;
    display: block;
    padding: 0.5em 1em;
    font-family: 'Open Sans Semibold';
    font-size: 14pt;
}

.nav-primary li ul {
    display: none;
    position: absolute;
    left: 0; top: 100%;
    width: 17em;
    z-index: 999;
}

.nav-primary li ul a {
    font-family: "Open Sans";
    font-size: 12pt;
}

.nav-primary .parent {
    background-image: url("../images/arrow-down.jpg");
    background-repeat: no-repeat;
    background-position: 98% 50%;
}

.nav-primary li ul {
    padding-left: 20px;
}

.nav-primary li ul li {
    float: none;
    display: block;
    text-align: left;
    width: auto;
    border: solid 1px #ccc;
    margin-top: -1px;
    background-color: #f2f2f2;
}

.nav-primary li ul li ul {
    left: 89%;
    top: 50%;
}

.nav-primary li ul li ul li {
    background-color: #dbdbdb;
}

.nav-primary li ul li:hover {
    background-color: #70ccba;
}

.nav-primary li:hover > ul {
    display: block;
}

.nav-primary:after {
    content: "";
    display: table;
    clear: both;
}