@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeue-Thin.otf);
}

@font-face {
    font-family: "Bebas";
    src: url(../fonts/BEBAS.TTF);
}