<div id="page-content">
    <div class="ts-col-left">
        <h2 class="ts-h2">Testimonials</h2>

        <?php if (Mage::getSingleton("customer/session")->isLoggedIn()) : ?>
            <a class="btn-add" href="<?php echo Mage::getUrl('testimonials/index/new') ?>">Submit your testimonial</a>
        <?php else : ?>
            <a class="btn-add" href="<?php echo Mage::getUrl('customer/account/login') ?>">Login to post a comment</a>
        <?php endif; ?>

        <?php foreach ($this->getTestimonials() as $item) : ?>
            <div class="testimonial-item">
                <div class="testimonial-content"><?php echo $item->getContent(); ?></div>
                <div class="ts-username"><?php echo $item->getUserName(); ?></div>
            </div>
        <?php endforeach; ?>

        <div class="pagination">
            <?php echo $this->getChildHtml('pager'); ?>
        </div>
    </div>

    <div class="col-right sidebar"><?php echo $this->getChildHtml('ts_sidebar') ?></div>
</div>