<div id="page-content">
    <form action="<?php echo $this->getUrl('*/*/create') ?>" method="post">
        <label for="content_field">Your Testimonial</label>
        <textarea name="content" id="content_field" cols="30" rows="10"></textarea>
        <input class="but" type="submit" value="Send"/>
    </form>
</div>